extends ./layout

block contenido
    .contenedor

        if errores
            div.error-message
                each error in errores
                    p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form.space-y-5(method='POST' action='/profesores' noValidate)
                  
                    
                    div.inputControl
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="dni") DNI
                        input#dni.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="DNI" type="text" name="dni" value=profesor? profesor.dni : '')

                    div.inputControl
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="nombre") Nombre
                        input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Nombre" type="text" name="nombre" value=profesor? profesor.nombre : '')
                    
                    div.inputControl
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="apellido") Apellido
                        input#apellido.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Apellido" type="text" name="apellido" value=profesor? profesor.apellido : '')
                    
                    div.inputControl
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="email") Email
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Email" type="email" name="email" value=profesor? profesor.email : '')
                    div.inputControl
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="profesion") Profesión
                        input#profesion.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Profesión" type="text" name="profesion" value=profesor? profesor.profesion : '')

                    div.inputControl
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="telefono") Telefono
                        input#telefono.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Telefono" type="text" name="telefono" value=profesor? profesor.telefono : '')


                        button.bg-blue-500.text-white.px-4.py-2.rounded-md.mt-4(type='submit') Registrar Profesor
